nav {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}

.navbar-img {
    width: 160px;
}

.navbar-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.searchbar-content {
    display: flex;
    flex-direction: row;
    margin:  0 auto;
    padding:  0 20px;
    align-items: center;
    justify-content: center;
}

.search-bar {
    background-color: white;
    margin-right: 20px;
}

.search-bar input {
    width: 50vw;
    padding: 10px;
    box-shadow: 0 2px 2px (0,0,0, 0.25);
    border-radius: 3px;
    border: none;

}

.search-btn button {
    background-color: #d4a373;
    border: none;
    border-radius: 10px;
    heigth:44px;
    color:white;
    padding: 10px 12px;
}


.App {
    text-align: center;
}


.pokedex-header {
}

.pagination-container {
    margin: 10px 15px;
    display:  flex;
    flex-direction: row;
    padding-right: 3px;
    align-items:center;
    justify-content: flex-end; 
}

.pagination-btn{
    margin: 0 10px;
    width: 15px;
    height:40px;
    border-radius:100%;
    border: none;
    background-color: #d4a373;

    width:40px;
}

.pokedex-grid {
    margin: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.pokemon-card {
    background-color: #fefae0;
    display: flex;
    box-shadow: 7px 4px 4px rgba(120, 120, 120, 0.3);
    border-radius: 3px;
    

}

.pokemon-image {
    width: 100px;
    height: 100px;
    margin-right:10px;
}

.pokemon-img-container {
    padding: 0 5px;
}

.card-body {
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px;
    flex: 1;
}

.card-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-top h3 {
    text-transform: capitalize;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon-type {
    display: flex;
}

.pokemon-type-text {
    margin-right: 10px;
    padding: 0 10px;
    text-transform: capitalize;
    border-radius: 10px; 
    border: 1px solid #bc6c25;
}

.button {
    cursor: pointer;
}

@media(max-width:1040px) {
    .pagination-container{
        margin: 50px 15px 15px;
    }
    .pokedex-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .pokemon-card {
        flex-direction: column;
        flex-content: center;
        align-items: center;
        padding: 10px;
    }
    .card-body{
        width: 100%;
    }
    .card-top {
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
    }
}

@media(max-width: 500px) {
    .searchbar-content {
        flex-direction: column;
    }
    .search-btn button{
        margin-top: 10px;
       width:50vw;  
    }
    .pagination-container{
        justify-content:  center;
    }
    .pokedex-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .pokemon-image {
        width: 150px;
        height: 150px;
        margin-right:10px;
    }
    
}